body{
    background-color: aqua;
}

h1{
    text-align: center;
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: beige;
}

th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th{
    background-color: #eaeaea;
}

button{
    padding: 8px 12px;
    cursor: pointer;
}

a{
    margin-right: 10px;
    text-decoration: none;
}

