<!DOCTYPE html>
<html>

    <head>
        <title>Adding a Card</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>Adding a Card</h1>
        <form method="POST" action="/add">
            <label>1. Card Name</label>
            <input type="text" name="cardName">
            <br>

            <label>2. Card Number</label>
            <input type="text" name="cardID">
            <br>

            <label>3. Quantity</label>
            <input type="number" name="quantity">
            <br>

            <label>4. Location of Card</label>
            <input type="text" name="location">
            <br>

            <button type="submit">Save Card</button>
        </form>
        <br>

        <a href="/">Back to Inventory</a>
    </body>
</html>